.Conteiner_Principal_Dashboard_Scroll{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    padding: 2%;
}